@using TuProyecto.Models
@model Reservaciones

@functions{
    int CodigoReserva()
    {
        int num = new Random().Next(100);
        return num;
    }
}

<h1>Crear Reservación</h1>
<br />
<a asp-action="Index" asp-controller="Reservaciones">Regresar</a>
<br />
<div>
    <form asp-action="Crear">
        <div asp-validation-summary="ModelOnly"></div>
        
        <div>
            <label asp-for="NombreCliente"></label>
            <input asp-for="NombreCliente" />
            <span asp-validation-for="NombreCliente" style="color:red"></span>
        </div>
        
        <div>
            <label asp-for="ApellidoCliente"></label>
            <input asp-for="ApellidoCliente" />
            <span asp-validation-for="ApellidoCliente" style="color:red"></span>
        </div>
        
        <div>
            <label asp-for="TelefonoCliente"></label>
            <input asp-for="TelefonoCliente" />
            <span asp-validation-for="TelefonoCliente" style="color:red"></span>
        </div>
        
        <div>
            <label asp-for="EmailCliente"></label>
            <input asp-for="EmailCliente" />
            <span asp-validation-for="EmailCliente" style="color:red"></span>
        </div>
        
        <div>
            <label asp-for="DireccionCliente"></label>
            <input asp-for="DireccionCliente" />
            <span asp-validation-for="DireccionCliente" style="color:red"></span>
        </div>
        
        <div>
            <label asp-for="FechaReservacion"></label>
            <input asp-for="FechaReservacion" type="date" />
            <span asp-validation-for="FechaReservacion" style="color:red"></span>
        </div>
        
        <div>
            <label asp-for="HoraReservacion"></label>
            <input asp-for="HoraReservacion" type="time" />
            <span asp-validation-for="HoraReservacion" style="color:red"></span>
        </div>
        
        <div>
            <label asp-for="CantidadPersonas"></label>
            <input asp-for="CantidadPersonas" type="number" />
            <span asp-validation-for="CantidadPersonas" style="color:red"></span>
        </div>
        
        <div>
            <label asp-for="NumeroMesa"></label>
            <input asp-for="NumeroMesa" type="number" />
            <span asp-validation-for="NumeroMesa" style="color:red"></span>
        </div>
        
        <div>
            <label asp-for="CodigoReserva"></label>
            <input asp-for="CodigoReserva" value="@CodigoReserva()" readonly/>
        </div>
        
        <div>
            <input type="submit" value="Guardar" class="btn btn-success" />
        </div>
    </form>
</div>
