@{
    ViewData["Title"] = "Inicio";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Bienvenido al restaurante PlatoYMedio</h1>
        <p class="lead">Disfruta de la mejor cocina con sabores auténticos.</p>
    </div>
</div>
